body {
       background-color: yellow
}
h1 {
        text-align: center
}

p {
       font-size: 1.2rem;
       text-align: center

}

img {
        border: 6px double red; border-radius: 15%;
        margin-left: 680;
}
.pagination{
    text-align: center
}
button {
    border-radius: 50px;
    padding: 10px 25px;
    background-color: #eee;
    border-color: red;
    font-size: 20px;
    color: red
}

a {
    color: red
}